.confirmForm {
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-sm);
  border-radius: 8px;
  padding: var(--space-md);
  margin: var(--space-md);
  border: var(--app-border);
}

.confirmForm input {
  border: none;
  width: 79%;
  height: 24px;
  background: var(--color-white);
  border-radius: 4px;
  padding: 0px 5px;
}

.formActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: var(--space-md);
  width: 170px;
}
