footer {
  padding: var(--space-sm);
  text-align: right;
  color: var(--color-white);
  font-size: small;
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
  }
}
