.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: var(--app-radius);
}
.input:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.25);
  outline: none;
}

/* size */
.size--sm {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 300;
}

.size--md {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: normal;
}

.size--lg {
  padding: 12px 24px;
  font-size: 1.25rem;
  font-weight: normal;
}
