.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: var(--app-radius);
}
.input:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.25);
  outline: none;
}
