/* 

IMPORTANT:

--> Expects a theme to exist (e.g. in :root or theme scopes) and have the following global variables set:

   --color-primary, 
   --color-white, 
   --color-light-red, 
   --color-light-green, 
   --color-light-yellow, 
   --app-radius

*/

.button {
  cursor: pointer;
  border-radius: var(--app-radius);
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--main-color);
  width: auto;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

.fullWidth {
  width: 100%;
}

/********* SIZE *********/

.button[data-size="sm"] {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 300;
}

.button[data-size="md"] {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: normal;
}

.button[data-size="lg"] {
  padding: 12px 24px;
  font-size: 1.25rem;
  font-weight: normal;
}

/********* FILLMODE *********/

.button[data-fill-mode="outline"] {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.button[data-fill-mode="outline"]:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.button[data-fill-mode="full"]:hover {
  opacity: 0.9;
  /* default colors already set on .button */
}

/********* VARIANT *********/

.button[data-variant="default"] {
  --main-color: var(--color-primary);
  --secondary-color: var(--color-white);
}

.button[data-variant="white"] {
  --main-color: var(--color-white);
  --secondary-color: var(--color-white);
}
.button[data-variant="white"]:hover {
  --main-color: var(--color-white);
  --secondary-color: var(--color-primary);
}

.button[data-variant="success"] {
  --main-color: var(--color-light-green);
  --secondary-color: white;
}

.button[data-variant="warning"] {
  --main-color: var(--color-light-yellow);
  --secondary-color: black;
}

.button[data-variant="error"] {
  --main-color: var(--color-light-red);
  --secondary-color: white;
}

/********* DISABLED *********/

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
