/* 
VARIABLES:
--main-color
--secondary-color
*/

.button {
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  border-radius: var(--app-radius);

  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--main-color);
}

/* size */
.size--sm {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 300;
}

.size--md {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: normal;
}

.size--lg {
  padding: 12px 24px;
  font-size: 1.25rem;
  font-weight: normal;
}

/* fillMode */
.fillMode--outline {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.fillMode--outline.button:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.fillMode--full.button:hover {
  opacity: 0.9;
  /* default colors already set on .button */
}

/* variant */
.variant--default {
  --main-color: var(--color-primary);
  --secondary-color: var(--color-light-white);
}

.variant--white {
  --main-color: var(--color-light-white);
  --secondary-color: var(--color-light-white);
}
.variant--white:hover {
  --main-color: var(--color-light-white);
  --secondary-color: var(--color-primary);
}

.variant--success {
  --main-color: var(--color-light-green);
  --secondary-color: white;
}

.variant--warning {
  --main-color: var(--color-light-yellow);
  --secondary-color: black;
}

.variant--error {
  --main-color: var(--color-light-red);
  --secondary-color: white;
}
