.registerForm {
  background: var(--color-orange);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-top: var(--space-xl);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  border: var(--app-border);
}

.registerFormInnerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
  gap: var(--space-sm);
}

.registerForm input,
.registerForm select {
  border: none;
  width: 100%;
  height: 24px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 4px;
  padding: 0px 5px;
}

.registerForm select {
  text-align: center;
}

.registerForm a {
  color: var(--color-red);
}

.formActions {
  display: flex;
  gap: 1rem;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-md);
  width: 80%;
}

.formActions > button {
  flex: 1;
}

.advicePasswordBox {
  background-color: #ffe571;
  padding: var(--space-md);
  margin: var(--space-sm);
  text-align: center;
}
