.card {
  display: flex;
  justify-content: center;
  background: #f8f8ff8a;
  border-radius: var(--app-radius);
}

.inputsBox {
  display: flex;
  justify-content: space-evenly;
  gap: var(--space-xl);
  flex-wrap: wrap;
}

.inputsBox input {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.inputBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 400px) {
  .inputsBox {
    gap: var(--space-md);
  }
}

@media (max-width: 290px) {
  .card {
    flex-direction: column;
  }

  .inputsBox {
    gap: var(--space-xs);
    flex-direction: column;
  }
}
