.box {
  background-color: var(--color-light-white);
  padding: var(--space-sm);
  border-radius: var(--app-radius);
  animation: slideInDown 0.4s ease-out forwards;
}

.exit {
  animation: slideOutUp 0.3s ease-in forwards;
}

.success {
  background-color: var(--color-light-green);
}

.error {
  background-color: var(--color-light-red);
  color: var(--color-light-white);
}

.warning {
  background-color: var(--color-light-yellow);
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
