.loginForm {
  background: var(--color-orange);
  color: var(--color-primary);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-top: calc(var(--space-xl) * 2);
  gap: var(--space-sm);
  box-shadow: 0px 0px 1px black;
  border-radius: 8px;
  border: var(--app-border);
}

.loginForm a {
  color: var(--color-red);
}

.loginForm input {
  border: none;
  width: 79%;
  height: 24px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 4px;
  padding: 0px 5px;
}

.formActions {
  display: flex;
  gap: 1rem;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-sm);
  width: 39%;
}

.formActions > button {
  flex: 1;
}
