.ctrlPanel {
  flex: 1;
  background-color: var(--color-light-white);
  color: black;
}

.ctrlPanel h4 {
  text-align: center;
  padding: var(--space-md);
  color: var(--color-primary);
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
}
