.noteListItem {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: var(--app-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  margin-bottom: var(--space-sm);
  gap: 2em;
}

.noteListItem:hover {
  background: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.noteListItem:focus {
  outline: 2px solid var(--input-focus);
  outline-offset: 2px;
}

.noteListLabel {
  color: var(--color-primary);
  text-align: justify;
  margin-right: var(--space-md);
}

.iconsBox {
  position: relative;
  display: flex;
  align-items: center;
  height: 0;
  gap: 4px;
}

.xIcon {
  color: var(--color-light-red);
  cursor: pointer;
  width: 28px;
  display: flex;
}

.textarea {
  width: 100%;
  max-width: 590px;
  min-width: 200px;
  height: 150px;
  max-height: 300px;
  overflow-y: auto;
  padding: var(--space-xs);
}

.editIcon {
  margin-bottom: -2px;
}

.done {
  opacity: 0.4;
}

@media (max-width: 1000px) {
  .noteListItem {
    flex-direction: column-reverse;
  }
  .iconsBox {
    align-self: end;
  }
}
